*{
    font-family: 'Mansalva', cursive;
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Lora', serif;}

.box {
    background-color: rgb(110, 196, 167);
}

.portfoli-pic {
    height: 250px;
    width: 250px;
    margin: 20px;
}

.position {
    position: relative;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

 .text-block {
    position: absolute;
    bottom: 12%;
    background: rgb(42, 58, 148);
    opacity: 0.8; 
    color: #f1f1f1;
   width: 570px;
    padding: 20px;
    left: 19%;
}

